<h2>Alert Dismissing </h2>

<div class="alert">
    <p class="alert-close">x</p>
    <p>Esta es una alerta</p>
</div>
<br>
<h2>Collapse</h2>

<button class="btn btn-collapse">Collapse</button>
<div class="collapse-container">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus iusto quo quae tempore, odio temporibus praesentium nemo soluta recusandae adipisci possimus sapiente, velit aliquid corrupti voluptates, ratione quis porro. Aliquam?</p> 
</div>

<h2>Collapse Accordion</h2>
<div class="accordion">
    <div class="collapse-accordion-item">
        <div class="btn-accordion-container">
            <button target="accordion-1" class="btn-accordion" >Accordion 1</button>
        </div>
        <div id="accordion-1" class="collapse-accordion">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus iusto quo quae tempore, odio temporibus praesentium nemo soluta recusandae adipisci possimus sapiente, velit aliquid corrupti voluptates, ratione quis porro. Aliquam?
            </p> 
        </div>
    </div>
    <div class="collapse-accordion-item">
        <div class="btn-accordion-container">
            <button target="accordion-2" class="btn-accordion" >Accordion 2</button>
        </div>
        <div id="accordion-2" class="collapse-accordion">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing  elit. Repellendus iusto quo quae tempore, odio temporibus    praesentium nemo soluta recusandae adipisci possimus   sapiente, velit aliquid corrupti voluptates, ratione quis     porro. Aliquam?
            </p> 
        </div>
    </div>
    <div class="collapse-accordion-item">
        <div class="btn-accordion-container">
            <button class="btn-accordion" target="accordion-3">Accordion 3</button>
        </div>
        <div id="accordion-3" class="collapse-accordion">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus iusto quo quae tempore, odio temporibus praesentium nemo soluta recusandae adipisci possimus sapiente, velit aliquid corrupti voluptates, ratione quis porro. Aliquam?
            </p> 
        </div>
    </div>
</div>